boolean_test
add-sub-tb
test
mux2x1_tb
mux4x1_tb
mux81x1_tb
4bit_full_adder
my_seqDesign
7segled-tb
bcd_tb
.DS_Store
.vscode
Homework/Homework 2/hwk2_tb
Homework/Homework 3/mux8x1_output.txt
Homework/Homework 3/mux8x1_tb
Labs/Lab 4/output.txt
Labs/Lab 6/output.txt
Labs/Lab 7/dec3x8_tb
Labs/Lab 8/bcd_tb
